body {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 30px;
    background-color: #ffffff;
    color: #000000;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.btn {
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background-color: #fb565a;
}

.btn:hover,
.btn:focus {
  background-color: #e74246;
}

.btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.main-navigation {
  line-height: 30px;
  font-weight: 500;
  background-color: #eeeeee;
}

.header-navigation {
  list-style: none;
}

.studio-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.studio-content p {
  text-transform: none;
}

.studio-content-list {
  list-style: none;
}

.studio-content h4,
.studio-info h4 {
  font-weight: 700;
}

.studio-info-list dt {
  font-size: 45px;
  line-height: 1;
  font-weight: 700;
}

.studio-info-list dd {
  font-weight: 400;
  line-height: 18px;
}

.header-navigation a,
.header-basket {
  color: #000000;
}

.header-navigation a:hover,
.header-basket:hover,
.header-navigation a:focus,
.header-basket:focus {
  color: #fb565a;
}

.header-navigation a:active,
.header-basket:active {
  border-bottom: none;
  color: rgba(0, 0, 0, 0.3);
}

.header-navigation .active,
.header-basket.active {
  border-bottom: 2px solid #fb565a;
}

.header-logo:hover,
.header-logo:focus {
  opacity: 0.8;
}

.header-logo:active {
  opacity: 0.3;
}

.sliders {
  background-color: #eeeeee;
}

.slider-item h3 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.advantage-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.btn-site {
  background-color: #00ca74;
}

.btn-site:hover,
.btn-site:focus {
  background-color: #00bc6c;
}

.btn-site:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.btn-app {
  background-color: #efc84a;
}

.btn-app:hover,
.btn-app:focus {
  background-color: #eab534;
}

.btn-app:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

.partner-item img {
  opacity: 0.2;
}

.partner-item img:hover,
.partner-item img:focus {
  opacity: 0.9;
}

.partner-item img:active {
  opacity: 0.1;
}

.contacts-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.contacts-info p {
  font-style: normal;
  line-height: 18px;
  color: #666666;
}

.btn-contacts {
  line-height: 18px;
  color: #ffffff;
  font-style: normal;
}

.footer-socials {
  list-style: none;
}

.socials-item {
  color: #ffffff;
  background-color: #e1e1e1;
}

.footer-info h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: none;
}

.footer-info p {
  line-height: 22px;
}

.modal-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.modal-form label {
  line-height: 18px;
  font-weight: 700;
}

.modal-form input[type="text"],
.modal-form input[type="email"],
.modal-form textarea {
  font: inherit;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #d7dcde;
}

.modal-form input[type="text"]:hover,
.modal-form input[type="email"]:hover,
.modal-form textarea:hover {
  background-color: #ffffff;
  border: 2px solid #b4b9bb;
}

.modal-form input[type="text"]:hover,
.modal-form input[type="email"]:hover,
.modal-form textarea:focus {
  background-color: #ffffff;
  border: 2px solid #000000;
}

/*Contacts*/

.filter form label {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.filter form fieldset {
  border: none;
}

.filter-grid-list {
  list-style: none;
}

.grid-item {
  color: #283136;
  line-height: 20px;
}

.grid-item input:hover + label,
.grid-item input:focus + label {
  color: #283136;
}

.grid-item input:disabled + label {
  color: #283136;
  opacity: 0.3;
}

.sort-title {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}

.sort-list {
  list-style: none;
}

.sort-list active,
.sort-list li a:active {
  color: rgba(0, 0, 0, 1);
}

.sort-list li a {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.sort-list li a:hover,
.sort-list li a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-item h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
}

.catalog-item h3:hover,
.catalog-item h3:focus {
  color: rgba(251, 86, 90);
}

.catalog-item h3:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item p {
  line-height: 18px;
  color: #666666;
}

.btn-price:active {
  color: #ffffff;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  font-weight: 500;
  line-height: 18px;
  color: rgba(0, 0, 0);
  background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}

.pagination-list .active a {
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

.pagination-list .active a:hover,
.pagination-list .active a:focus,
.pagination-list .active a:active {
  color: rgba(0, 0, 0, 0);
  background-color: #ffffff;
}


.filter .form-btn {
  color: #000000;
  background-color: #eeeeee;
}

.filter .form-btn:hover,
.filter .form-btn:focus {
  background-color: #dfdfdf;
}

.filter .form-btn:active {
  color: rgba(0, 0, 20, 0.3);
  background-color: #d5d5d5;
}
